$white: #FFFFFF;

$dark-main: #3E424C;

$blue-main: #22CBF5;
$blue-dark: darken($blue-main, 15);
$blue-light: lighten($blue-main, 30);

$gray-main: #79808F;
$gray-light: lighten($gray-main, 35);

$danger-main: #D54D4D;


* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.content {
  padding: 0 15px;
  flex-grow: 1;
}

.page {
  padding: 70px 0;
}

.page-title {
  color: $dark-main;
  white-space: nowrap;
}

.page-title__padded {
  padding-left: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wide {
  width: 100%;
}

.wide-full {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bg-main {
  background: #F4F5F9;
}

.bg-dark {
  background: #4A4E58;
}

.bg-top {
  background: $dark-main;
}

.subtext {
  font-size: 12px;
  color: #888888;
}

.subtext_error {
  color: $danger-main;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-a {
  margin-left: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.btn {
  background: $gray-main;
  border-radius: 4px;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 18px;
  transition: background .2s ease-in-out;

  &:hover {
    background: darken($gray-main, 10);
  }

  &_primary {
    background: $blue-dark;
    color: $white;
    &:hover {
      background: darken($blue-dark, 10);
    }
  }

  &_danger {
    background: $danger-main;
    color: $white;
    &:hover {
      background: darken($danger-main, 10);
    }
  }

}

.btn[disabled] {
  background: $gray-light;
  color: $white;
  cursor: not-allowed;
}

.input, .select {
  border: 1px solid $gray-light;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  &:focus-visible {
    outline-color: $gray-main;
  }
}

.select {
  option {
    font-size: 16px;
    padding: 8px;
  }
}

.nowrap {
  white-space: nowrap;
}

.scrollbar {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.topbar {
  display: flex;
  padding: 12px 22px;
  justify-content: space-between;
  align-items: center;
}

.topbar * {
  color: #fff;
  opacity: 0.7;
  margin: 0;
}

.topbar__button {
  cursor: pointer;
  text-decoration: none;
  margin-left: 15px;
  transition: opacity .2s ease;
}

.topbar__button:hover {
  opacity: 1;
}

.logo {
  text-transform: uppercase;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 20px;
  height: 100%;
  width: 320px;
}

.nav__link {
  color: #fff;
  padding: 10px 18px 12px;
  text-decoration: none;
  border-left: 3px solid transparent;
  font-weight: 500;
  width: 100%;
}

.nav__link_active {
  color: $blue-main;
  background: rgba(55, 58, 66, 0.56);
  border-left: 3px solid $blue-main;
}

.form {
  margin-top: 20px;
  max-width: 412px;
}

.spinner {
  margin: auto;
  justify-content: center;
  align-items: center;
}

.table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  color: #fff;
  background-color: $dark-main;
}
.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

/*ingredient*/

.ingredient {
    display: flex;
}
.ingredient__wrapper {
  border: 2px solid transparent;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px 15px;
  text-align: center;
  width: 134px;
  user-select: none; 
}
.ingredient__input {
  display: none;
}
.ingredient__input:checked ~ .ingredient__wrapper {
  border-color: $blue-dark
}
.ingredient__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 8px;
  img {
    max-width: 100%;
  }
}
.ingredient__name {
  font-weight: 500;
  margin-bottom: 4px;
}
.ingredient__price {
  color: #777;
  font-size: 14px;
}

.buttons-row {
  .btn {
    margin: 0 10px;
  }

  &_clear {
    .btn {
      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.edit-form__preview {
  overflow: hidden;
  width: 80px;
}

.edit-form__preview img{
  width: 100%;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(55, 58, 66, 0.56);
}

.modal {
  background: #fff;
  border-radius: 12px;
  position: absolute;
  padding: 4px 18px 20px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}